<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.12.1" targetFramework="net46" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net46" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net46" />
</packages>